.container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: rgb(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container > h2 {
  text-align: center;
  color: #000000de;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form label {
  margin-bottom: 10px;
  width: 100%;
  display: block;
  color: #0000008e;
}
/* 
.form input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 315px;
  transition: all .2s linear;
} */

.btn {
  background: linear-gradient(316.55deg, #404fd1 19.78%, #a57de6 89.26%);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: all .2s linear;
}

.btn:hover {
  background: linear-gradient(316.55deg, #606bce 19.78%, #a57de6 89.26%);
}

.login_wrapper {
  width: 100%;
  min-height: 100vh;
  max-height: 1024px;
  background: linear-gradient(316.55deg, #404fd1 19.78%, #a57de6 89.26%);
}